<div id="ResumoUsuario" class="container-fluid bordered">
    <div class="row">
        <div class="col-md-9">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                    <img alt="..." class="media-object" src="~/Content/images/usuario.jpg" /> </a>
                </div>
                <div class="media-body cor_azul">
                    <h4 id="NomeReduzido" class="media-heading"></h4>
                    <p id="cargo">
                    </p>
                    adelson@tecnun.com.br
                </div>
            </div>
        </div>
        <div class="col-md-3 cor_azul">
            <p>
                Matricula : 03</p>
            <p>
                Admissão : 01/01/2015</p>
            <p>
                Status : Ativo</p>
            <p>
                Tempo de Casa : 3 Anos</p>
        </div>
    </div>
</div>