<div id="TabHistorico" class="tab-pane">
    <br />
    <p>
        Estão relacionados aqui todos os eventos relacionados ao funcionario</p>
    <!--Class display é padrão do DataTable-->
    <table class="table table-striped table-condensed" id="tblEventos">
        <thead>
            <tr>
                <th></th><th></th>
                <th>Data</th>
                <th>Anotação</th>
                <th>Anexo</th>
                <th>Download</th>
            </tr>
        </thead>
        <tr class="active">
            <td></td>
            <td><a href="#" alt="Clique para detalhes do usuário"><span class="glyphicon glyphicon-user"></span></a></td>
            <td>01/01/2018</td>
            <td>O funcionário foi contratado</td>
            <td>N/A</td>
            <td class="actions">
                <a class="btn btn-success btn-xs" href="view.html">Visualizar</a>
                <a class="btn btn-warning btn-xs" href="edit.html">Editar</a>
                <a class="btn btn-danger btn-xs" href="#" data-toggle="modal" data-target="#delete-modal">Excluir</a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/01/2018</td>
            <td>Criado email corporativo adelson@tecnun.com.br</td>
            <td>N/A</td>
            <td></td>
        </tr>
        
        <tr>
            <td></td>
            <td>
                <span class="glyphicon glyphicon-user"></span>
            </td>
            <td>05/02/2018</td>
            <td>Cadastrado o VR</td>
            <td>N/A</td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/02/2018</td>
            <td>Cadastrado o Vale Transporte</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><span class="glyphicon glyphicon-user"></span></td>
            <td>03/03/2018</td>
            <td>Marcado exame Admissional</td>
            <td>Formulario</td>
            <td class="actions">
                <a class="btn btn-success btn-xs" href="view.html"><span class="glyphicon glyphicon-download-alt"></span></a>
            </td>
        </tr>

        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>04/03/2018</td>
            <td>Ferias marcadas para 01/05/2018</td>
            <td></td>
            <td></td>
        </tr>


        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>04/03/2018</td>
            <td>Ausencia médica</td>
            <td>Atestado</td>
            <td class="actions">
                <a class="btn btn-success btn-xs" href="view.html"><span class="glyphicon glyphicon-download-alt"></span></a>
            </td>
        </tr>

         <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/01/2018</td>
            <td>Criado email corporativo adelson@tecnun.com.br</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/02/2018</td>
            <td>Cadastrado o VR</td>
            <td>N/A</td>
            <td class="actions">
                <a class="btn btn-success btn-xs" href="view.html"><span class="glyphicon glyphicon-download-alt"></span></a>
            </td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/02/2018</td>
            <td>Cadastrado o Vale Transporte</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>03/03/2018</td>
            <td>Marcado exame Admissional</td>
            <td>Formulario</td>
            <td>Baixar</td>
        </tr>

        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>04/03/2018</td>
            <td>Ferias marcadas para 01/05/2018</td>
            <td></td>
            <td></td>
        </tr>


        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>04/03/2018</td>
            <td>Ausencia médica</td>
            <td>Atestado</td>
            <td>Baixar</td>
        </tr>


         <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/01/2018</td>
            <td>Criado email corporativo adelson@tecnun.com.br</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/02/2018</td>
            <td>Cadastrado o VR</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/02/2018</td>
            <td>Cadastrado o Vale Transporte</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>03/03/2018</td>
            <td>Marcado exame Admissional</td>
            <td>Formulario</td>
            <td>Baixar</td>
        </tr>

        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>04/03/2018</td>
            <td>Ferias marcadas para 01/05/2018</td>
            <td></td>
            <td></td>
        </tr>


        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>04/03/2018</td>
            <td>Ausencia médica</td>
            <td>Atestado</td>
            <td>Baixar</td>
        </tr>


         <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/01/2018</td>
            <td>Criado email corporativo adelson@tecnun.com.br</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/02/2018</td>
            <td>Cadastrado o VR</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/02/2018</td>
            <td>Cadastrado o Vale Transporte</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>03/03/2018</td>
            <td>Marcado exame Admissional</td>
            <td>Formulario</td>
            <td>Baixar</td>
        </tr>

        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>04/03/2018</td>
            <td>Ferias marcadas para 01/05/2018</td>
            <td></td>
            <td></td>
        </tr>


        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>04/03/2018</td>
            <td>Ausencia médica</td>
            <td>Atestado</td>
            <td>Baixar</td>
        </tr>


         <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/01/2018</td>
            <td>Criado email corporativo adelson@tecnun.com.br</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/02/2018</td>
            <td>Cadastrado o VR</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/02/2018</td>
            <td>Cadastrado o Vale Transporte</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>03/03/2018</td>
            <td>Marcado exame Admissional</td>
            <td>Formulario</td>
            <td>Baixar</td>
        </tr>

        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>04/03/2018</td>
            <td>Ferias marcadas para 01/05/2018</td>
            <td></td>
            <td></td>
        </tr>


        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>04/03/2018</td>
            <td>Ausencia médica</td>
            <td>Atestado</td>
            <td>Baixar</td>
        </tr>


         <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/01/2018</td>
            <td>Criado email corporativo adelson@tecnun.com.br</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/02/2018</td>
            <td>Cadastrado o VR</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/02/2018</td>
            <td>Cadastrado o Vale Transporte</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>03/03/2018</td>
            <td>Marcado exame Admissional</td>
            <td>Formulario</td>
            <td>Baixar</td>
        </tr>

        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>04/03/2018</td>
            <td>Ferias marcadas para 01/05/2018</td>
            <td></td>
            <td></td>
        </tr>


        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>04/03/2018</td>
            <td>Ausencia médica</td>
            <td>Atestado</td>
            <td>Baixar</td>
        </tr>


         <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/01/2018</td>
            <td>Criado email corporativo adelson@tecnun.com.br</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/02/2018</td>
            <td>Cadastrado o VR</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/02/2018</td>
            <td>Cadastrado o Vale Transporte</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>03/03/2018</td>
            <td>Marcado exame Admissional</td>
            <td>Formulario</td>
            <td>Baixar</td>
        </tr>

        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>04/03/2018</td>
            <td>Ferias marcadas para 01/05/2018</td>
            <td></td>
            <td></td>
        </tr>


        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>04/03/2018</td>
            <td>Ausencia médica</td>
            <td>Atestado</td>
            <td>Baixar</td>
        </tr>


         <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/01/2018</td>
            <td>Criado email corporativo adelson@tecnun.com.br</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/02/2018</td>
            <td>Cadastrado o VR</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>05/02/2018</td>
            <td>Cadastrado o Vale Transporte</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>03/03/2018</td>
            <td>Marcado exame Admissional</td>
            <td>Formulario</td>
            <td>Baixar</td>
        </tr>

        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>04/03/2018</td>
            <td>Ferias marcadas para 01/05/2018</td>
            <td></td>
            <td></td>
        </tr>


        <tr><td></td><td><span class="glyphicon glyphicon-user"></span></td>
            <td>04/03/2018</td>
            <td>Ausencia médica</td>
            <td>Atestado</td>
            <td>Baixar</td>
        </tr>



    </table>

</div>

