<div id="TabInfo" class="tab-pane">
                        <div class="form-edit">
                            <legend>
                                <h4 class="cor_titulos"><strong><span class="glyphicon glyphicon-user"></span>&nbsp;Identificação</strong></h4>
                            </legend>
                            <div class="container-fluid" id="cnt_identificacao">
                                <div class="row" id="ident_NomeEmail">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="control-label" for="nome">Nome</label>
                                            <input class="form-control" type="text" name="nome" id="txtNome" placeholder="Digite o nome" data-validate="required" data-validate-message="Nome é obrigatorio" />
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label" for="codigo">Matricula</label>
                                            <input class="form-control disabled" type="text" name="codigo" id="txtCodigo" value="3" disabled />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="email">Email Corporativo</label>
                                            <input class="form-control" type="email" name="email" id="txtEmail" placeholder="Digite o email" data-validate="required" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="Usuario">Email Pessoal</label>
                                            <input class="form-control" type="email" name="Usuario" id="txtUsuario" placeholder="Digite o Usuario" data-validate="required" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="ident_Documentos">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label" for="email">Data de Nascimento</label>
                                            <input class="form-control" type="email" name="email" id="Email1" placeholder="Digite o email" data-validate="required" />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label" for="email">RG</label>
                                            <input class="form-control" type="email" name="email" id="Email2" placeholder="Digite o email" data-validate="required" />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label" for="Usuario">CPF</label>
                                            <input class="form-control" type="email" name="Usuario" id="Email3" placeholder="Digite o Usuario" data-validate="required" />
                                        </div>
                                    </div>

                                    <div class="control-group col-md-3">
                                        <label class="control-label" for="sexo">Sexo</label>
                                        <div class="Controls">
                                            <label class="radio-inline">
                                                <input type="radio" value="M" name="sexo" checked="checked" />Masculino                                                
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" value="F" name="sexo" />Feminino
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <legend>
                                <h4 class="cor_titulos"><strong><span class="glyphicon glyphicon-envelope"></span>&nbsp;Telefones</strong></h4>
                            </legend>
                            <div class="container-fluid" id="cnt_Telefones">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label" for="email">Tel. Residencial</label>
                                            <input class="form-control" type="email" name="email" id="Email4" placeholder="Digite o email" data-validate="required" />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label" for="Usuario">Celular</label>
                                            <input class="form-control" type="email" name="Usuario" id="Email5" placeholder="Digite o Usuario" data-validate="required" />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label" for="Usuario">Tel. Comercial</label>
                                            <input class="form-control" type="email" name="Usuario" id="Email6" placeholder="Digite o Usuario" data-validate="required" />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label" for="Usuario">Outros</label>
                                            <input class="form-control" type="email" name="Usuario" id="Email7" placeholder="Digite o Usuario" data-validate="required" />
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <legend id="Endereco">
                                <h4 class="cor_titulos"><strong><span class="glyphicon glyphicon-envelope"></span>&nbsp;Endereço</strong></h4>
                            </legend>
                            <div class="container-fluid" id="cnt_Endereco">
                                <div class="row" id="Endereco_Rua">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label class="control-label" for="email">Rua</label>
                                            <input class="form-control" type="email" name="email" id="Email8" placeholder="Digite o email" data-validate="required" />
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label" for="email">Numero</label>
                                            <input class="form-control" type="email" name="email" id="Email9" placeholder="Digite o email" data-validate="required" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="Endereco_CEP">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label" for="Usuario">CEP</label>
                                            <input class="form-control" type="email" name="Usuario" id="Email10" placeholder="Digite o Usuario" data-validate="required" />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label" for="Usuario">Bairro</label>
                                            <input class="form-control" type="email" name="Usuario" id="Email11" placeholder="Digite o Usuario" data-validate="required" />
                                        </div>
                                    </div>


                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="control-label" for="Usuario">Cidade</label>
                                            <input class="form-control" type="email" name="Usuario" id="Email12" placeholder="Digite o Usuario" data-validate="required" />
                                        </div>
                                    </div>


                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label" for="Usuario">Estado</label>
                                            <input class="form-control" type="email" name="Usuario" id="Email13" placeholder="Digite o Usuario" data-validate="required" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>