@{
    ViewBag.Title = "Home Page";
}
<div class="wrapper" role="main" id="conteudo">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2><a href="#">Portal Administrativo</a></h2>
                <p>
                    Relaciona as principais tarefas administrativas da empresa 
                </p>
                <a href="#">Saiba mais...</a>
            </div>
        </div>
    </div>
</div>